@import "tailwindcss";
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.app-container {
  max-width: 960px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Loading styles */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2em;
  color: #555;
}
.react-time-picker__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer; /* Makes it clear it's selectable */
}

.react-time-picker__inputGroup {
  font-size: 16px;
  padding: 8px;
  width: 100%; /* Ensures input width consistency */
  border: none; /* Removes extra borders inside */
  outline: none; /* Removes outline on focus */
}
